// COLOURS
$color-primary: #252235
$color-primary-light: #3E3B4B
$color-primary-dark: #1B1E34
$color-secondary: #D7B560

$color-text: #2a2738
$color-text-alt: #d6b360

$color-white: #fff
$color-black: #000

// FONTS
$title-font: itc-avant-garde-gothic-pro, sans-serif
$body-font: europa, sans-serif

$default-font-size: 1.6rem

// GRID
$gutter-sm: 1.5rem
$gutter-md: 5rem
$gutter-lg: 7rem
$gutter-xl: 8rem

