.page-header
  display: grid
  grid-template-columns: repeat(2, 1fr)
  padding-top: $gutter-sm
  padding-bottom: $gutter-sm
  @include layout-gutter-x

.navigation-mobile
  z-index: 30
  display: none
  @include media(md)
    cursor: pointer
    display: flex
    justify-content: flex-end
    align-items: center
    .las
      font-size: 40px

.navigation-primary
  display: flex
  justify-content: flex-start
  align-items: center
  @include media(md)
    opacity: 0
    visibility: hidden
    position: absolute
    bottom: 50%
  &__item
    margin-right: $gutter-md
  &__cta
    margin: 0 0 0 auto
  .active &
    @include media(md)
      display: flex
      position: absolute
      opacity: 1
      visibility: visible
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: $color-white
      z-index: 25
      align-items: flex-start
      flex-direction: column
      justify-content: center
      padding: 9.5rem 7rem 8rem
      transition: opacity .4s ease-in-out
      &__item
        font-size: 8rem
        margin-bottom: 2rem
        line-height: 100%
      &__cta
        margin: 6rem 0 0 0
        .btn
          font-size: 3rem
      @include media(landscape)
        flex-direction: row
        flex-wrap: wrap
        &__item
          font-size: 8rem
          margin: 0 2rem 2rem
          line-height: 100%
        &__cta
          margin: 3rem 0 0
          width: 100%
          text-align: center

.logo
  z-index: 30
  &__image
    height: 40px
    width: auto