.section-slider
  &__images
    z-index: 5
  &__caption
    z-index: 10
    width: 50%
    background: white
    height: 12rem
    position: absolute
    transform: translateY(-100%)
    max-width: 600px
    min-width: 550px
    @include media(md)
      position: unset
      transform: none
      max-width: unset
      min-width: unset
      width: 100%
    &__single
      display: flex !important
      justify-content: center
      align-items: center
      height: 12rem
  &__nav
    z-index: 10
    display: flex
    justify-content: flex-start
    flex-direction: row-reverse
    position: absolute
    align-items: center
    width: 50%
    transform: translate(100%, -100%)
    height: 12rem
    padding-right: $gutter-lg
    @include media(md)
      padding-right: 0
      transform: translateY(-200%)
      justify-content: center
      flex-direction: row
      width: 100%

.product-info
  margin: 0 2rem
  &__heading
    margin-bottom: .4rem

.product-actions
  margin: 0 2rem

// Slick overrides
.slick-arrow
  cursor: pointer
  border-color: $color-primary
  margin: 0 6px
  @include media(md)
    display: none !important
  &:not(:last-of-type)
    margin-right: 0
    background-color: transparent
    transition: all .4s ease
  &.btn:hover
    background-color: $color-primary
    .las
      color: $color-white
      -webkit-text-stroke: 1px $color-white

.slick-dots
  list-style: none
  max-height: 47px
  display: flex
  align-items: center
  text-align: center
  margin-right: 10px
  li
    cursor: pointer
    width: 0
    height: 0
    margin: 0 14px
    button
      position: relative
      font-size: 0
      line-height: 0
      display: block
      width: 20px
      height: 20px
      cursor: pointer
      color: transparent
      border: 0
      outline: none
      background: transparent
      transform: translateY(-50%)
      &:before
        content: ""
        background-color: transparent
        border: 2px solid $color-primary
        border-radius: 50%
        display: inline-block
        height: 16px
        width: 16px
        color: transparent
        opacity: 1
    &.slick-active button:before
      background-color: $color-primary