*
  margin: 0
  padding: 0
  box-sizing: inherit
  &::after, &::before
    margin: 0
    padding: 0
    box-sizing: inherit

html
  font-size: 62.5%
  @include media(mx)
    font-size: 75%
  @include media(lg)
    font-size: 56.25%
  @include media(md)
    font-size: 50%
  @include media(sm)
    font-size: 45%

body
  box-sizing: border-box
  overflow-x: hidden
  &.active
    overflow: hidden
    max-height: 100%

a
  text-decoration: none
  font-style: normal

img, picture
  display: block
  width: 100%
  height: 100%

::selection
  background-color: $color-primary-light
  color: $color-white

::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: rgba(0,0,0,.1)
::-webkit-scrollbar-thumb
  background: $color-secondary
  border-radius: 10px